<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ms.dm.server.database.mapper.GuildMapper">
    <resultMap type="cn.ms.dm.domain.guild.vo.GuildCharacterVO" id="guildCharacterVO">
        <result property="characterId" column="character_id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="rank" column="rank"/>
        <result property="job" column="job"/>
    </resultMap>

    <select id="selectMembers" resultMap="guildCharacterVO">
        SELECT r.character_id, c.name, c.level, r.rank, c.job FROM dm_guild_rank r
        INNER JOIN dm_characters c ON r.character_id = c.id AND c.is_delete = 0
        WHERE r.guild_id = #{guildId}
    </select>

</mapper>
